.navBar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .navBarItems {
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
  }
  .navBar button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    padding: 7px;
    margin: 3px;
  }
  .NavBar {
    background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  }
  